body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa;
    margin: 0;
}

.calculator {
    width: 400px; 
    border: 1px solid #004d40; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 77, 64, 0.2); 
}

.display {
    background-color: #00796b; 
    color: #ffffff;
    font-size: 2.5em;
    text-align: right;
    padding: 30px; 
    box-sizing: border-box;
    border-bottom: 1px solid #004d40; 
    height: 80px; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px; 
    padding: 30px;
    background-color: #ffffff;
}

.button {
    font-size: 2em; 
    padding: 25px;
    background-color: #b2dfdb; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #80cbc4; 
}

.button[data-action="clear"] {
    background-color: #e57373;
    color: #ffffff;
}

.button[data-action="clear"]:hover {
    background-color: #ef5350; 
}

.button[data-action="calculate"] {
    background-color: #004d40; 
    color: #ffffff;
}

.button[data-action="calculate"]:hover {
    background-color: #00796b; 
}
